	<div>
		<center>
		<h1>Hello :) </h1>
		</center>
	</div>
	<center>
	<div id = 'main'>
		<table>
			<th colspan="3">tiles</th>
		<tr>
		<td><button id = 't1' class = 'tiles' type="button" onclick="myFunction(this.id)"><% t = Tile.find(1) %><%= t.tile_value%></button></td>
		<td id = 't2' class = 'tiles'><%= var2 = '' %></td>
		<td id = 't3' class = 'tiles'><%= var3 = '' %></td>
		</tr>
		<tr>
		<td id = 't4' class = 'tiles'><%= var4 = '' %></td>
		<td id = 't5' class = 'tiles'><%= var5 = '' %></td>
		<td id = 't6' class = 'tiles'><%= var6 = '' %></td>
		</tr>
		<tr>
		<td id = 't7' class = 'tiles'><%= var7 = '' %></td>
		<td id = 't8' class = 'tiles'><%= var8 = '' %></td>
		<td id = 't9' class = 'tiles'><%= var9 = '' %></td>
		</tr>
		</table>
	</div>
	</center>
